
<mdb-card class="form-forgot-password">
  <mdb-card-body>
    <!-- Material form register -->
    <div class=" nav-tabs tabs-3 cyan ">
      <h3 class="modal-title w-100 text-center" id="ForgotMyPassword"><i class="fa fa-question"></i> Forgot your Password </h3>
    </div>
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit(cardForm)">

      <!-- Material input email -->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="email" id="email" formControlName="email" class="form-control" data-error="Invalid email" mdbInputDirective>
        <label for="email" class="font-weight-light">Your email address</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button mdbBtn color="cyan" class="waves-light" type="submit" [disabled]="!cardForm.valid" mdbWavesEffect>Submit</button>
        <button type="button" routerLink="/" mdbBtn color="cyan" outline="true" class="ml-auto" data-dismiss="modal" mdbWavesEffect>Cancel</button>
      </div>
    </form>
    <!-- Material form register -->
  </mdb-card-body>
</mdb-card>

<app-dialog></app-dialog>
