
<mdb-card class="form-define-password">
  <mdb-card-body>
    <!-- Material form register -->
    <div class=" nav-tabs tabs-3 cyan ">
      <h3 class="modal-title w-100 text-center" id="DefinePassword"><i class="fa fa-exchange "></i> Define Your Password </h3>
    </div>
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit(cardForm)">

      <!-- Material input password -->
      <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        <input type="password" id="password" formControlName="password" class="form-control" data-error="Invalid password" mdbInputDirective>
        <label for="password" class="font-weight-light">Your new password</label>
      </div>

      <!-- Material input password -->
      <div class="md-form">
        <i [ngClass]="{'fa-check': passwordConfirmed, 'fa-close': !passwordConfirmed, 'fa prefix': true}"></i>
        <input type="password" id="password2" formControlName="password2" class="form-control" data-error="Invalid confirmation" mdbInputDirective>
        <label for="password2" class="font-weight-light">Confirm your new password</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button mdbBtn color="cyan" class="waves-light" type="submit" [disabled]="!cardForm.valid" mdbWavesEffect>Submit</button>
        <button type="button" routerLink="/" mdbBtn color="cyan" outline="true" class="ml-auto" data-dismiss="modal" mdbWavesEffect>Cancel</button>
      </div>
    </form>
    <!-- Material form register -->
  </mdb-card-body>
</mdb-card>

<app-dialog></app-dialog>
