.site-detail {
  margin: 10%;
  background-color: white;
  height: auto;
  width: auto;
  text-align: center;
  margin-left: 25%;
  margin-right: 20%;
  border-radius: 5%;
}

.siteDetail {
  width: 100%;
  margin-left: 12%;
  margin-right: 22%;
}

#price {
  margin-right: 2%;
}

#date {
  margin-right: 2%;
}

#place {
  margin-right: 2%;
}

#events {
  margin-right: 2%;
}

.eventsHelp {
  text-align: center;
  width: 20%;
  float: left;
  margin-left: 15%;
}

.price {
  text-align: center;
  width: 20%;
  float: left;
}

.events {
  text-align: center;
  width: 20%;
  float: left;
}

.date {
  text-align: center;
  width: 20%;
  float: left;
}

.place {
  text-align: center;
  width: 20%;
  float: left;
}

.help{
  margin-top: 5%;
}

#editButton{
  margin-right: 40%;
}

#back {
  text-align: center;
}

.img {
  border-color: black;
  border: groove;
  border-radius: 5%;
  margin-bottom: 5%;
  height: 80%;
  width: 80%;
}

.detail {
  margin-right: 5%;
  width: 10%;
}

.modals {
  padding-top: 2%;
  padding-right: 25%;
}

.nameInput {
  border: hidden;
  text-align: center;
}

.amountInput {
  border: hidden;
  text-align: center;
}

#eyeButton {
  margin-left: 0%;
}

.concurrency{
  width: 100%;
  margin-top: 8%;
}
