#modal {
  text-align: center;
  width: 75%;
  height: 50%;
}

#myModalLabel {
  text-align: center;
}

#frameModalTop {
  text-align: center;
  width: 100%;
}

#back {
  text-align: center;
}

.table {
  text-align: center;
}

.teal-text {
  margin-left: 10%;
}

.red-text {
  margin-left: 10%;
}

.blue-text {
  margin-left: 61%;
}

.nameInput {
  border: hidden;
  width: 100%;
  text-align: center;
}

.amountInput {
  border: hidden;
  width: 75%;
  text-align: center;
}

.moneyInput {
  border: hidden;
  width: 50%;
  text-align: center;
}

#inputName {
  width: 100%;
}

#inputAmount {
  width: 75%;
}

#inputMoney {
  width: 50%;
}
