.image-section{
    margin-left: 12%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.col-md-3{
    margin-left: 4%;
}
#buttons{
    float: right;
    background-color: #0097a7;
    font-size: 100%;
    margin-top: 10%;
}