
.view {
    height: 100%;
    min-height: 487px;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}




.nav-link{
    text-align:center;
}
.image{
    padding-top: 2%;
    padding-bottom: 2%;
}
