.calendar {
  margin: 10% 10%;
  width: 80%;
  height: 80%;
}

h3 {
  margin: 0 0 10px;
}
  
pre {
  background-color: #f5f5f5;
  padding: 15px;
}

#buttons {
  float: left;
  font-size: 100%;
  margin-top: 12%;
  margin-left: 10%;
}
