.modals{
    padding-left: 30%;
    padding-right: 25%;
}
mat-form-field{
    padding-left: 5%;
    padding-right: 45%;
    max-height: 5%;
}
agm-map {
    height: 200px;
    width: 400px;
    padding-left: 37px;
}
.letters{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
}
.letters1{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}