.event-detail {
  margin: 10%;
  background-color: white;
  height: auto;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 20%;
  border-radius: 5%;
}

.star{
  margin-left: 10%;
}

.eventDetail {
  width: 100%;
  margin-left: 23%;
  margin-right: 22%;
}

.dateHelp {
    text-align: center;
    width: 20%;
    float: left;
    margin-left: 8%;
}

#price {
  margin-right: 2%;
}

#date {
  margin-right: 2%;
}

#place {
  margin-right: 2%;
}

.price {
  text-align: center;
  width: 20%;
  float: left;
}

.date {
  text-align: center;
  width: 20%;
  float: left;
}

.place {
  text-align: center;
  width: 20%;
  float: left;
}

.detail{
  text-align: center;
}

.eventDetails{
  margin-top: 10%;
}

.img {
  border-color: black;
  border: groove;
  border-radius: 5%;
  margin-bottom: 2%;
  height: 425px;
  width: 80%;
}

.modals {
  padding-left: 30%;
  padding-top: 2%;
  padding-right: 25%;
}

.teal-text{
  margin-left : 10%;
}

.red-text {
  margin-left: 10%;
}

.blue-text {
  margin-left: 61%;
}

.nameInput{
  border: hidden;
  text-align: center;
}

.amountInput {
  border: hidden;
  text-align: center;
}
