.admin{
    margin: 13% 10%;
    border-radius: 20%;
}
.rating li{
    display: inline;
}
.media{
    margin: 1% 1%;
}
.events li{
    display: inline;
}
#image{
    height: 120px;
    width: 120px;
}
#icon{
    color: #212121;
}
.state{
    float:none;
	text-align:center;
}