<!--Projects section v.4-->
<div *ngIf="site" class="site-list">

  <!--Section heading-->

  <!--Section description-->
    <!--Grid column-->

    <div class="card card-image" [ngStyle]="{'background-image': 'url(' + site.imageUrl + ')' }">
        <div class="text-white text-center align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
                <h6 class="{{'iconPrimaryStyle' | theme}}">
                    <i [class]="'fa fa-' + 'map-marker'"></i>
                    <strong>Site</strong>
                </h6>
                <div class="main-content">
                    <div class="front">
                        <h3 class="py-3 font-weight-bold">
                            <strong>{{site.name}}</strong>
                        </h3>
                    </div>
                    <div class="back">
                        <p class="pb-3">{{site.description}}</p>
                    </div>
                </div>
                <a mdbBtn size="md" rounded="true" class="{{ 'buttonPrimaryStyle' | theme }}" mdbWavesEffect (click)='onClick()'>
                    <i class="fa fa-eye left"></i> View More</a>
            </div>
        </div>
    </div>
  <!--Grid column-->

</div>
<!--Projects section v.4-->
